[submodule "Packages/UIService"]
	path = Packages/UIService
	url = git@github.com:double-coconut/module-ui-service.git
[submodule "Packages/ContextLoaderService"]
	path = Packages/ContextLoaderService
	url = git@github.com:double-coconut/module-context-loader-service.git
[submodule "Packages/AudioPlayerService"]
	path = Packages/AudioPlayerService
	url = git@github.com:double-coconut/module-audio-player-service.git
[submodule "Packages/RestClientService"]
	path = Packages/RestClientService
	url = git@github.com:double-coconut/module-restclient-service.git
